<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="mode-sfw">
    {% include log-navigation-hud.html %}
    {% include navbar.html %}

    <header class="hero-section">
        <div class="container-hero">
            <img src="{{ site.data.customization.banner_path | default: site.data.defaults.banner_path | relative_url }}" alt="Logo" id="site-logo" class="site-logo">
            <p id="flavor-text" class="flavor-text">
                {{ site.data.customization.hero_flavor_text | default: site.data.defaults.hero_flavor_text }}
            </p>
        </div>
    </header>

    <main> 
        {{ content }}
    </main>

    {% include footer.html %}
    {% include nsfw-gateway.html %}

</body>
</html>